html>body {
    background: #EFEFEF;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    background: cadetblue;
}

header .header-1 {
    margin-bottom: 20px;
}

header .header-1 .nav-link {
    color: white;
    font-weight: bold;
}

header .header-1 .nav-link:hover {
    color: orange;
}

header .header-2 .form-control {
    height: 42px;
    border: 5px;
}

header .header-2 .btn {
    background: white;
    height: 42px;
    border-radius: 0 5px 5px 0;
}

#content {
    margin-top: 140px;
}

footer {
    margin-top: 30px;
}

footer .footer-1 {
    padding: 20px;
    color: white;
    background: #2E2F30;
}

footer .footer-2 {
    padding: 50px 15px 20px 15px;
    background: white;
}
footer .footer-2 p {
    font-weight: bold;
}

footer .footer-2 .nav-link {
    color: #666666;
    padding-left: 0px;
    font-size: 14px;
}

footer .footer-2 .nav-link:hover {
    color: #B00100;
}

footer .footer-2 .nav-items {
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

.jumbotron {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    background: white !important;
}

label {
    font-weight: 600;
}

header .header-1 .avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
header .header-1 .link-avt {
    padding: 0 15px 0 15px;
    color: white;
    font-weight: bold;
    text-decoration: none !important;
}
header .header-1 .link-avt:hover {
    color: orange;
}