<style>
  .div {
    margin-top: -20px;
    width: 100%;
    height: 100vh;
    background: red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
<div>
  <div class="div">
    <div>
      <h1>Page3slide#index</h1>
      <p>Find me in app/views/page3slide/index.html.erb</p>
    </div>
  </div>
</div>