<footer>
  <div class="container">
    <div class="footer-1">
      <div class="row">
        <div class="col-xl-4">
          <h5 class="wow rollIn">ĐĂNG KÝ NHẬN BẢN TIN</h5>
        </div>
        <div class="col-xl-8">
          <form>
            <div class="input-group">
              <input type="text" placeholder="Địa chỉ email của bạn" class="form-control">
              <div class="input-group-append">
                <button class="btn btn-success">Đăng ký</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-2">
      <div class="row">
        <div class="col-xl-3">
          <p class="wow zoomIn" data-wow-delay="0.5s">DỊCH VỤ</p>
          <ul class="nav wow flipInX" data-wow-delay="0.8s">
            <li class="nav-items"><a href="" class="nav-link">Điều khoản sử dụng</a></li>
            <li class="nav-items"><a href="" class="nav-link">Chính sách bảo mật</a></li>
            <li class="nav-items"><a href="" class="nav-link">Giới thiệu Fahasa</a></li>
            <li class="nav-items"><a href="" class="nav-link">Hệ thống trung tâm - nhà sách</a></li>
          </ul>
        </div>
        <div class="col-xl-3">
          <p class="wow rotateIn" data-wow-delay="1s">HỖ TRỢ</p>
          <ul class="nav wow flipOutX" data-wow-delay="1.3s">
            <li class="nav-items"><a href="" class="nav-link">Chính sách đổi - trả - hoàn tiền </a></li>
            <li class="nav-items"><a href="" class="nav-link">Chính sách khách sỉ</a></li>
            <li class="nav-items"><a href="" class="nav-link">Phương thức vận chuyển</a></li>
            <li class="nav-items"><a href="" class="nav-link">Phương thức thanh toán</a></li>
          </ul>
        </div>
        <div class="col-xl-3">
          <p class="wow zoomIn" data-wow-delay="1.5s">TÀI KHOẢN CỦA TÔI</p>
          <ul class="nav wow flipInY" data-wow-delay="1.8s">
            <li class="nav-items"><a href="" class="nav-link">Tài khoản</a></li>
            <li class="nav-items"><a href="" class="nav-link">Thay đổi địa chỉ khách hàng</a></li>
            <li class="nav-items"><a href="" class="nav-link">Chi tiết tài khoản</a></li>
            <li class="nav-items"><a href="" class="nav-link">Lịch sử mua hàng</a></li>
          </ul>
        </div>
        <div class="col-xl-3">
          <p class="wow rotateIn" data-wow-delay="2s">LIÊN HỆ</p>
          <ul class="nav wow flipOutY" data-wow-delay="2.3s">
            <li class="nav-items"><a class="nav-link"><strong>Địa chỉ: </strong>Tôn Đức Thắng - Đà Nẵng</a></li>
            <li class="nav-items"><a class="nav-link"><strong>Email: </strong>phantrongthuc20@gmail.com</a></li>
            <li class="nav-items"><a class="nav-link"><strong>Phone: </strong>0327486020</a></li>
          </ul>
        </div>
      </div>
      <br><hr>
      <div class="text-center wow tada" data-wow-delay="2.5s">
        <strong>&copy; Copyright 04 / 2019</strong><span> by Thuc PT</span>
      </div>
    </div>
  </div>
</footer>